{% extends 'layout.html' %}
{% block content %}
    <a href='/' style='color:white;'>&lt; Volver</a>
    <br>
    <div class='container'>
        <div class="col-md-6" style="text-align:left">
            <span style='color:white;font-size:30px;font-weight:bold;color:orange'>{{object['nombre']}}</span>
        </div>
        <div class="row">
            <div class='container-fluid col-md-6'>
                <img src="{{ruta_imagen}}" alt="New York" class="d-block rounded" style="width:40%">
            </div>
            <div class='container-fluid col-md-6' style="text-align:left;">
                <span style='background-color:transparent;font-size:20px;font-weight:bold;color:#c7c4c4;text-align:left;'>{{object['descripcion']}}</span>
            </div>
        </div>
    </div>
{% endblock %}